* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: orangered;
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(247, 244, 244);
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    background: white;
    height: auto;
    width: 80%;
    min-width: 280px;
    border: none;
    border-radius: 7px;
    /* padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.container #input {
    border-bottom: 1px solid orangered;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

#input>#inputBox {
    width: 200px;
    min-width: 50px;
    border: 2px solid orangered;
    border-radius: 7px;
    outline: none;
    margin: 0 10px;
}

#input>button {
    border: none;
    border-radius: 5px;
    background-color: hsl(16, 100%, 50%);
    color: white;
    padding: 7px 10px;
}

#input>button:hover {
    background-color: hsl(16, 100%, 60%);
}

#input>button:active {
    background-color: hsl(16, 100%, 70%);
}

p {
    color: red;
    font-size: 14px;
    text-align: center;
}

.container #list {
    border-top: 1px solid orangered;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
}

#list .todoList li{
    position: relative;
    list-style-type: none;
    font-size: 17px;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid orangered;
    border-radius: 5px;
    color: orangered;
}

.todoList li div {
    position: absolute;
    border-radius: 50%;
    left: 90%;
    top: 15%;
    padding: 5px;
}

li>div>img {
    max-width: 17px;
    height: 17px;
}